
@{ 
    ViewData["Title"] = "AccessDenide";
}

<div class=" text-center m-5 text-danger" style="font-size:2em;">
    <i class="fa fa-times-circle fa-10x"></i><br />
    شما اجازه دسترسی به این صفحه را ندارید.
    <br />
    <a href="/" class="h5 text-dark">بازگشت</a>
</div>

