@{
    ViewData["Title"] = "تایید ایمیل";
}


<div class="text-success text-center mt-5" style="font-size:2em;">
    <i class="fa fa-check-circle fa-10x"></i>
    <p class="alert alert-info mt-5">
        ایمیل شما با موفقیت تایید شد حالا می توانید با نام کاربری و کلمه عبور خود وارد سایت شوید.
        <br />
        <a href="/Account/SignIn">ورود به سایت</a>
    </p>
</div>

<div class="mt-5 text-center">

    <p>
    </p>
</div>

