@model BookShop.ViewModel.RegisterViewModel
@{
    ViewData["Title"] = "عضویت";
}
<div class="page-wrapper flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card p-4 mt-2 form">
                    <div class="card-header text-center h4">
                        عضویت در  شهر کتاب
                    </div>
                    <hr />
                    <div asp-validation-summary="ModelOnly" class="text-danger">

                    </div>
                    <form asp-action="Register">
                        <div class="card-body py-2">
                            <div class="form-group">
                                <label class="form-control-label" asp-for="UserName"></label>
                                <input type="text" class="form-control" asp-for="UserName" placeholder="نام کاربری">
                                <span asp-validation-for="UserName" class="text-danger"></span>
                            </div>


                            <div class="form-group">
                                <label class="form-control-label" asp-for="Email"></label>
                                <input type="text" class="form-control" asp-for="Email" placeholder="ایمیل">
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label class="form-control-label" asp-for="PhoneNumber"></label>
                                <input type="text" class="form-control" asp-for="PhoneNumber" placeholder="شماره موبایل">
                                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label class="form-control-label" asp-for="Password"></label>
                                <input class="form-control" type="password" asp-for="Password" placeholder="کلمه عبور">
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label class="form-control-label" asp-for="ConfirmPassword"></label>
                                <input class="form-control" type="password" asp-for="ConfirmPassword" placeholder="تکرار کلمه عبور">
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="form-control-label" asp-for="CaptchaCode"></label>
                            <a id="GenerateCapcha" class="pr-2 text-primary" style="cursor:pointer;"><i class="fa fa-redo" style="font-size:12px" aria-hidden="true"></i></a>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <img id="img-captcha" src="~/get-captcha-image" />
                                </div>
                                <input type="text" class="form-control" placeholder="کد امنیتی" asp-for="CaptchaCode" maxlength="4" />
                            </div>
                            <span asp-validation-for="CaptchaCode" class="text-danger"></span>
                        </div>
                        <div class="col-12 form-group">
                            <button type="submit" class="btn btn-block rounded btn-primary px-5">عضویت در سایت</button>
                        </div>
                        <div class="col-12 form-group">
                            <a class="btn btn-primary btn-block px-5 rounded" href="/">بازگشت</a>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<script>
    $("#img-captcha,#GenerateCapcha").click(function () {
        d = new Date();
        $("#img-captcha").attr("src", "/get-captcha-image?" + d.getTime());
    });
</script>