@model IEnumerable<BookShop.Models.Language>

@{
    ViewData["Title"] = "لیست زبان‌ها";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="card  mx-md-auto col-md-8 p-0">
    <div class="card-header bg-light">
        لیست زبان‌ها
    </div>
    <p class="m-2">
        <a asp-action="Create" class="btn btn-success col-md-3">ایجاد زبان‌ جدید</a>
    </p>
    <div class="card-body">

        <table class="table text-center">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.LanguageName)
                    </th>
                    <th>عملیات</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.LanguageName)
                    </td>
                    <td class="text-center">
                        <a asp-action="Edit" asp-route-id="@item.LanguageID" class="btn btn-info btn-icon"><i class="fa fa-edit text-white"></i></a>
                        <a asp-action="Delete" asp-route-id="@item.LanguageID" class="btn btn-danger btn-icon"><i class="fa fa-trash text-white"></i></a>
                    </td>
                </tr>
                }
            </tbody>
        </table>

    </div>
</div>