@model BookShop.Models.Province
@{
    ViewData["Title"] = "ایجاد استان جدید";
}


<div class="card p-0 col-md-8 mx-md-auto">
    <div class="card-header bg-light">
        ایجاد استان جدید
    </div>
    <form asp-action="Create">
        <div class="card-body">
            <div class="col-md-12 row">
                <div class="form-group col-md-6">
                    <label asp-for="ProvinceName" class="control-label"></label>
                    <input typet="text" asp-for="@Model.ProvinceName" class="form-control" />
                    <span asp-validation-for="@Model.ProvinceName" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="card-footer bg-light clearfix">
            <a asp-action="Index" class="btn"><i class="fa fa-arrow-alt-circle-right"> بازگشت </i></a>
            <button type="submit" class="btn btn-primary float-left">ایجاد استان</button>
        </div>
    </form>
</div>

@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}