@model BookShop.Models.Translator

@{
    ViewData["Title"] = "ویرایش مترجم";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="card p-0">
    <div class="card-header  bg-light">
        ویرایش مترجم
    </div>
    <form asp-action="Edit">
        <div class="card-body">
            <input type="hidden" asp-for="TranslatorID" />
            <div class="col-md-12 row">
                <div class="form-group col-md-6">
                    <label asp-for="FirstName" class="control-label"></label>
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="LastName" class="control-label"></label>
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="card-footer clearfix bg-light">
            <a asp-action="Index" class="btn"><i class="fa fa-arrow-alt-circle-right"> بازگشت </i></a>
            <button type="submit" class="btn btn-primary float-left">اعمال تغییرات</button>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
