@page
@model BookShop.Areas.Admin.Pages.Publishers.CreateModel
@{
    ViewData["Title"] = "ایجاد ناشر";
}

<div class="card p-0">
    <div class="card-header bg-light">
        ایجاد ناشر
    </div>
    <form method="post">
        <div class="card-body">
            <div class="col-md-12 row">
                <div class="form-group col-md-6">
                    <label asp-for="Publisher.PublisherName" class="control-label"></label>
                    <input type="text" class="form-control" asp-for="Publisher.PublisherName" />
                    <span asp-validation-for="Publisher.PublisherName" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="card-footer bg-light clearfix">
            <a asp-page="./Index" class="btn"><i class="fa fa-arrow-alt-circle-right"> بازگشت </i></a>
            <button type="submit" class="btn btn-primary float-left">ایجاد ناشر</button>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
